<!doctype html>
<html>
  <head>
    <title>jsPASAT - Finished</title>
    <link href="../../jsPsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    <link href="../css/experiment.css" rel="stylesheet" type="text/css"></link>
  </head>
  <body>
    <div class="container">
      <div class="container-inner">
        <p>
          <strong>Okay! You have completed the sustained attention task.</strong>
        </p>
        <p>
          Your results have been recorded.
        </p>
        <p>
          You may now close this window.
        </p>
      </div>
    </div>
  </body>
</html>
